* {box-sizing: border-box;
}
html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: black;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    }
header{
    font-size: 50px;
    font-family: cursive;
    background-image: linear-gradient(to bottom, white, black);
    text-align: center;
    margin: 0;
    padding: 5px;
}
nav{
    flex: 1 1 100%;
    border-width: 100%;
    font-size: 30px;
    text-align: center;
    color: white;
    margin: white;
}
nav a.aktiv{
    background-color: orange;
    color: black;
}
nav a{
    color: black;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}
nav p{
    margin: 25px;
}
nav a:hover{
    background-color: black;
    color: white;
}

.cimerkepegyik{
    float: right;
    margin-top: 8px;
}
.cimerkepmasik{
    float: left;
    margin-top: 8px;
}
.Kiszemeltek{
    height: 40vh;
    margin: 0;
}
article{
    flex: 1 1 100%;
    color: black;
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-color: white;
    border-radius: 30px;
}
aside{
    flex: 1 1 100%;
    color: black;
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 30px;
}
aside p{
    font-weight: bold;
}
p{
    text-align: center;
    margin: 10px;

}
h1.stadioncim{
    font-family: "Sixtyfour Convergence", sans-serif;
    text-align: center;
}
article p{
    font-weight: bold;
}
span{
    font-weight: bold;
}
.edzokep{
    text-align: center;
    float: none;
    margin: 10px;
}
.slider {
    width: 80%;
    min-width: 400px;
    margin: 100px auto;
}

.slick-slide {
    margin: 0px 5px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before, .slick-next:before {
    color: white;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .2;
}

.slick-current {
    opacity: 1;
}
 .legendak{
    text-align: left
 }
 .quiz{
    background-color: white;
    color: black;
 }
 .quiz h1{
    text-align: center;
 }
 .quiz p{
    font-weight: bold
 }
 .valaszok{
    display: flex;
    justify-content: space-around;
 }
 .gomb{
    background: orange;
    color: black;
    font-size: 20px;
 }
 .jatekosok{
    font-weight: bolder;
    font-size:larger;
 }
.urlap{
    text-align: left;
    color:white
}
.urlap2{
    text-align: right;
    color: white;
}
label.error{
    color: red;
}
footer a{
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 2px;
}


@media only screen and (min-width: 600px)
{
    .edzokep{
        float: left;
    }
}


@media only screen and (min-width: 768px)
{
    header{
        height: 100px;
    }
    aside{
        flex-basis: 40%;
    }
    #sztarteh{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    nav{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    nav a{
        width: 20%;
        padding: 10px 40px;
    }
    #stadionkepek{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    #stadionkepek2{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    .edzokep{
        display: flex;
        float: right;
    }
}

